<!-- TODO: dizda, DODAT OPIS SVAKE FIRME -->
<div class="page-bg"></div>

<div class="animation-wrapper">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
    <div class="particle particle-3"></div>
    <div class="particle particle-4"></div>
    <!-- 
    <div class="particle particle-5"></div> -->
</div>
<h1 style="color: white; text-align: center; padding: 10px; text-shadow: 3px 4px #4E49C3;">Our Satisfied Clients</h1>
<div class="cards">
    <div class="card">
        <img class="card__image" src="images/combe2.jpg" alt="AB3D Akademija" />
       <!--<div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h4 class="clientFont">
                AB3D Akademija
                </h2>
        </div>-->
        <div class="card-flap flap1">
            <div class="card-description">
                <h4 class="clientFont">
                AB3D Akademija
                </h4>
            </div>
        </div>
    </div>

    <div class="card">
        <img class="card__image" src="images/logoBTT.jpg" alt="BTT" />
        <!--<div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h4 class="clientFont">
                Balkan Tourist Travel
                </h2>
        </div>-->
        <div class="card-flap flap1">
            <div class="card-description">
                <h4 class="clientFont">
                Balkan Tourist Travel
                </h4>
            </div>
        </div>
    </div>

    <div class="card">
        <img class="card__image" src="images/logoMojenaocaleJPG.jpg" alt="Moje naocale" />
        <!--<div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h4 class="clientFont">
                Moje naocale
                </h2>
        </div>-->
        <div class="card-flap flap1">
            <div class="card-description">
                <h4 class="clientFont">
                Moje naocale
                </h4>
            </div>
        </div>
    </div>

    <div class="card">
        <img class="card__image" src="images/logoSuesaJPG.jpg" alt="Suessa" />
        <!--<div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h4 class="clientFont">
                Suessa
                </h2>
        </div>-->
        <div class="card-flap flap1">
            <div class="card-description">
                <h4 class="clientFont">
                Suessa
                </h4>
            </div>
        </div>
    </div>

    <div class="card">
        <img class="card__image" src="images/logoWasdra.jpg" alt="Wasdra" />
        <!--<div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h4 class="clientFont">
                Wasdra
                </h2>
        </div>-->
        <div class="card-flap flap1">
            <div class="card-description">
                <h4 class="clientFont">
                Wasdra
                </h4>
            </div>
        </div>
    </div>

    <div class="card">
        <img class="card__image" src="images/logoWool.jpg" alt="Wool Carpet" />
        <!--<div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h4 class="clientFont">
                Wool Carpet
                </h2>
        </div>-->
        <div class="card-flap flap1">
            <div class="card-description">
                <h4 class="clientFont">
                Wool Carpet
                </h4>
            </div>
        </div>
    </div>

    <div class="card">
        <img class="card__image" src="images/knjiga.jpg" alt="Al Amel school" />
        <!--<div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h4 class="clientFont">
                Al-amel school
            </h4>
        </div>-->
        <div class="card-flap flap1">
            <div class="card-description">
                <h4 class="clientFont">
                Al-amel school
                </h4>
            </div>
        </div>
    </div>

</div>

<script src="js/project.js"></script>