<h1 style="color: white; text-align: center; padding: 10px;"><u>Our Skills</u></h1>
<section id="cd-timeline" class="cd-container">

  <!-- WEB DEVELOPMENT -->
  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-picture">
      <img class="skillsImg" src="./images/code.svg" alt="Picture">
    </div>
    <h2 style="color:white; padding-left:10%; padding-top: 1%; margin-left: 140px;">Web Development</h2>
    <br>
    <br>
    <br><br>
    <br>
    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content">
      <h2 class="skillsHeading">HTML & CSS</h2>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">Javascript</h2>
    </div> <!-- cd-timeline-content -->
  </div>

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">Jquery</h2>
    </div> <!-- cd-timeline-content -->
  </div>

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">Angular</h2>
    </div> <!-- cd-timeline-content -->
  </div>

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">ReactJS</h2>
    </div> <!-- cd-timeline-content -->
  </div>

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">Bootstrap</h2>
    </div> <!-- cd-timeline-content -->
  </div>

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">PHP</h2>
    </div> <!-- cd-timeline-content -->
  </div>

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">NodeJS</h2>
    </div> <!-- cd-timeline-content -->
  </div>

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">SQL / MYSQL</h2>
    </div> <!-- cd-timeline-content -->
  </div>

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">MongoDB</h2>
    </div> <!-- cd-timeline-content -->
  </div>

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">Wordpress</h2>
    </div> <!-- cd-timeline-content -->
  </div>

  <!-- MOBILE -->
  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie">
      <img class="skillsImg" src="./images/mobiledev.svg" alt="Picture">
    </div>
    <h2 style="color:white; padding-left:10%; padding-top: 1%; margin-left: 110px;">Mobile Development</h2>
    <br>
    <br>
    <br>
    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content">
      <h2 class="skillsHeading">Android</h2>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">Swift</h2>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">React Native</h2>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <!-- WEB DESIGN -->
  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-location ">
      <img class="skillsImg" src="./images/code.svg" alt="Picture">
    </div>
    <h2 style="color:white; padding-left:10%; padding-top: 1%; margin-left: 200px;">Graphic Design</h2>
    <br>
    <br>
    <br>
    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content">
      <h2 class="skillsHeading">Photoshop</h2>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">Illustrator</h2>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">Adobe After Effects</h2>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">Adobe Premier Pro</h2>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <!-- SOFTWARE DEVELOPMENT -->
  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-time">
      <img class="skillsImg" src="./images/webdesign.svg" alt="Picture">
    </div>
    <h2 style="color:white; padding-left:10%; padding-top: 1%; margin-left: 85px;">Software Development</h2>
    <!-- cd-timeline-img -->
  </div>
  <br>
  <br>
  <br>
  <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
    class="cd-timeline-content">
    <h2 class="skillsHeading">C/C++</h2>
  </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none;">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">Python</h2>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none; ">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-right" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">Java</h2>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
    data-sal-easing="ease-out-bounce">
    <div class="cd-timeline-img cd-movie" style="display: none; ">
    </div> <!-- cd-timeline-img -->

    <div data-sal-duration="700" data-sal="slide-left" data-sal-delay="0" data-sal-easing="ease-out-bounce"
      class="cd-timeline-content" data-sal-duration="700" data-sal="zoom-in" data-sal-delay="0"
      data-sal-easing="ease-out-bounce">
      <h2 class="skillsHeading">C#</h2>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->


</section> <!-- cd-timeline -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 -->
<script src="./node_modules/sal.js/dist/sal.js"></script>
<script>
  sal({
    threshold: 1,
    once: false,
  });
</script>