<div class="container">
  <h1 style="color: white; text-align: center; padding: 10px; text-shadow: 3px 4px #360D78;padding-top: 5%">Our Team
  </h1>
  <div class="row">
    <div id="abuSmall" class="col-4 col-sm-4 mt-5 teamMoreSmall">
      <p style="color: white; font-size: 18px;">Abdulrahman Almonajed</p>
      <p style="color: white; font-size: 18px;">Full-stack developer</p>
    </div>
    <div class="col-8 col-sm-8 col-md-6 mt-4 mt-sm-4 mt-md-0">
      <img class="topL img-responsive" id="slika1" src="./images/abu2.png" width="200" height="200" alt="abu">
    </div>
    <div id="aldinSmall" class="col-4 col-sm-4 mt-5 teamMoreSmall">
      <p style="color: white; font-size: 18px;">Aldin Becic</p>
      <p style="color: white; font-size: 18px;">Full-stack developer</p>
    </div>
    <div class="col-8 col-sm-8 col-md-6 mt-4 mt-sm-4 mt-md-0">
      <img class="topR img-responsive" id="slika4" src="./images/aldin2.png" width="200" height="200" alt="aldin">
    </div>
  </div>
  <div class="row center">
    <div>
      <img class="centerImg img-responsive" id="slika" src="./images/combe2.png" width="100" height="300" alt="slika3"
        style="display: none; opacity: 0">
    </div>
    <div id="abu" class="offset-0 offset-sm-0 offset-md-3 col-6 col-sm-6 col-md-2 mt-5 teamMore" data-sal-duration="10"
      data-sal="fade-up" data-sal-delay="750" data-sal-easing="ease-out-bounce">
      <p style="color: white; font-size: 18px;">Abdulrahman Almonajed</p>
      <p style="color: white; font-size: 18px;">Full-stack developer</p>
    </div>
    <div id="combe" class="offset-0 offset-sm-0 offset-md-3 col-6 col-sm-6 col-md-2 mt-5 active teamMore"
      data-sal-duration="10" data-sal="fade-up" data-sal-delay="750" data-sal-easing="ease-out-bounce">
      <p style="color: white; font-size: 18px;">Obada Almonajed</p>
      <p style="color: white; font-size: 18px;">Founder</p>
    </div>
    <div id="aldin" class="offset-0 offset-sm-0 offset-md-3 col-6 col-sm-6 col-md-2 mt-5 teamMore"
      data-sal-duration="10" data-sal="fade-up" data-sal-delay="750" data-sal-easing="ease-out-bounce">
      <p style="color: white; font-size: 18px;">Aldin Becic</p>
      <p style="color: white; font-size: 18px;">Full-stack developer</p>
    </div>
    <div id="dizda" class="offset-0 offset-sm-0 offset-md-3 col-6 col-sm-6 col-md-2 mt-5 teamMore"
      data-sal-duration="10" data-sal="fade-up" data-sal-delay="750" data-sal-easing="ease-out-bounce">
      <p style="color: white; font-size: 18px;">Tarik Dizdar</p>
      <p style="color: white; font-size: 18px;">Manager</p>
    </div>
    <div id="combeSmall" class="col-4 col-sm-4 mt-5 teamMoreSmall">
      <p style="color: white; font-size: 18px;">Obada Almonajed</p>
      <p style="color: white; font-size: 18px;">Founder</p>
    </div>
    <div class="col-8 col-sm-8 col-md-4 mt-4 mt-sm-4 mt-md-0 mb-0 mb-sm-0 mb-md-2">
      <img class="centerImg img-responsive" id="slika3" src="./images/combe2.png" width="300" height="300" alt="combe">
    </div>
  </div>
  <div class="row">
    <div id="dizdaSmall" class="col-4 col-sm-4 mt-5  teamMoreSmall">
      <p style="color: white; font-size: 18px;">Tarik Dizdar</p>
      <p style="color: white; font-size: 18px;">Manager</p>
    </div>
    <div class="col-8 col-sm-8 col-md-4 mt-4 mt-sm-4 mt-md-0 mb-5 mb-sm-5 mb-md-2" id="zadnjaSlika">
      <img class="bottomC img-responsive" id="slika5" src="./images/dizdaNacrtan.png" width="200" height="200"
        alt="dizda">
    </div>
  </div>
</div>

<script src="./js/swapImage.js"></script>
<script src="./node_modules/sal.js/dist/sal.js"></script>
<script>
  sal({
    threshold: 1,
    once: false,
  });
</script>